extends ../layout

block content
    h1 Lista de autores por inicial


    if error 
        p(class="error")= error
    if data
        ul
            each author in data 
                div(id="listado")
                    a(href="/author/"+author[0])= author[1]
                    a(href=`/author/${author[0]}/update`, method="post") 
                        button Editar

                    form(action=`/author/${author[0]}/remove`, method="post") 
                        button(type="submit") Borrar


    a(href="/author/new")
        button Crear nuevo autor