extends ../layout

block content
    h1 lista de autores
    if error 
        p(class="error")= error
    if data
        ul
            each author in data 
                li
                    a(href="/author/"+author.author)= author.name
                    a(href=`/author/${author.author}/update`) 
                        button Editar
                    form(action=`/author/${author.author}/remove`, method="post") 
                        button(type="submit") Borrar
    a(href="/author/new")
        button Nuevo