extends ../layout

block content
    form(action="/author", method="post")
        label(for="name") Nombre
        input(id="name", type="text", name="name")
        label(for="born") Año de Nacimiento
        input#born(type="date", name="born")
        button(type="submit") Crear
