extends ../layout

block content 
    form(action="/author", method="post") 
        label(for="name") Nombre: 
        input(id="name" type="text" name="name") 

        <br><br>

        label(for="born") Nacimiento: 
        input#born(type="text", name="born")  

        <br><br>
        
        button(type="submit") Crear

