extends ../layout

block content 
    form(action="/author", method="post") 
        label(for="name") Nombre 
        input(id="name" type="text" name="name") 
        label(for="born")
        input#born(type="text", name="born")  
        button(type="submit") Crear

