extends ../layout

block content
    if error 
        p(class="error")= error
    if author 
        h2= author.name 
        if author.born
            p Fecha de nacimiento: #{autor.born}
    a(href="/author")
        button Volver