extends ../layout

block content 
    if error 
        p(class="error")= error
    if author
        div(id="update")
            form(action="/author/"+author.author_id, method="post") 

                label(for="name") Nombre: 
                input(id="name" type="text" name="name" value=author.name) 

                <br><br>

                label(for="born") Nacimiento: 
                input#born(type="text", name="born" value=author.born)  
                
                <br><br>

                button(type="submit") Guardar
