
nav(class="navbar")
    ul(class="nav-elements")
        li(class="nav-link") 
            a(href="/") INICIO 
        li(class="nav-link")
            a(href="/author") AUTORES
        li(class="nav-link") 
            a(href="/poem") POEMAS
