body {
    background-color: blanchedalmond;
}

#navbar {
    border: solid 2px red;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#cuerpo {
    border: solid 2px blue;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

#sesion {
    display: flex;
    flex-direction: column;
}

#sesion > input {
    margin: 15px;
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 3px 15px;
}

#botones {
    display: flex;
    padding: 15px;
    justify-content: center;
}

#botones > a {
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
}

#footer {
    border:solid 2px greenyellow;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    padding: 10px 0;
}