html 
    head 
        link(rel="stylesheet" href="/css/styles.css")
        block title 
            title Poetika

    body
        include navbar
        block content 
            h1(
                class="layout-title"
                id="titulo"
            ) Esto es el layout
        script(src="/js/index.js")