<<<<<<< HEAD

nav(class="navbar")
    ul(class="nav-elements")
        li(class="nav-link") 
            a(href="/poem") Home 
        li(class="nav-link")
            a(href="/author") Autores 
        li(class="nav-link") 
            a(href="/poem") Poemas
=======
html 
    head 
        link(rel="stylesheet" href="/css/styles.css")
        link(rel="stylesheet" href="/css/update.css")

    body 
        div(id="header")
            div(id="logo") Aqui va el logo
            div(class="navbar")
                div(class="nav-link") 
                    a(href="/") Home 
                div(class="nav-link")
                    a(href="/author") Autores 
                div(class="nav-link") 
                    a(href="/poem") Poemas
>>>>>>> ivan_new
