html 
    head 
        link(rel="stylesheet" href="/css/styles.css")
        link(rel="stylesheet" href="/css/update.css")

    body 
        div(id="header")
            div(id="logo")
                img(id="img", src="/img/poetikablack.png")
            div(class="navbar")
                div(class="nav-link")
                    a(href="/author") Autores 
                div(class="nav-link") 
                    a(href="/poem") Poemas
                div(class="login")
                    //- li(class="nav-link") 
                    form(action="/login", method="post")
                    button(type="submit" class="login-button")
                        <i class="fas fa-sign-in-alt"></i>
                    //- li(class="nav-link") 
                    form(action="/logout", method="post") 
                    button(type="submit" class="logout-button") 
                        <i class="fas fa-sign-out-alt"></i> 
                    form(action="/register", method="post")
                    button(type="submit" class="register") Registro
                    //- li(class="nav-link") 
                    

