
nav(class="navbar")
    ul(class="nav-elements")
        li(class="nav-link") 
            a(href="/") Home 
        li(class="nav-link")
            a(href="/artist") Artistas 
        li(class="nav-link") 
            a(href="/band") Bandas
