
nav(class="navbar")
    ul(class="nav-elements")
        li(class="nav-link") 
            a(href="/") Inicio
        li(class="nav-link")
            a(href="/author") Autores
        li(class="nav-link") 
            a(href="/poem") Poemas
