html 
    head 
        link(rel="stylesheet" href="/css/styles.css")
        link(rel="stylesheet" href="/css/update.css")

    body 
        div(id="header")
            div(id="logo")
                img(id="img", src="/img/poetikablack.png")
            div(class="navbar")
                div(class="nav-link")
                    a(href="/author") Autores 
                div(class="nav-link") 
                    a(href="/poem") Poemas
                div(class="nav-link") 
                   a(href="/login") 
                    button(type="submit") Login
                   a(href="/register")
                    button(type="submit") Registro
                   a(href="/logout")
                    button(type="submit") Logout

