html 
    head 
        link(rel="stylesheet" href="/css/styles.css")

    body 
        div(id="header")
            div(id="logo") Aqui va el logo
            div(class="navbar")
                div(class="nav-link") 
                    a(href="/") Home 
                div(class="nav-link")
                    a(href="/author") Autores 
                div(class="nav-link") 
                    a(href="/band") Bandas
