html 

    head 
    
    link(rel="stylesheet", href="css/session.css")


    body 
        div(id="navbar")
            div(id="logo")
                p Aqui va el logo o imagen principal 

            div(id="secciones")
                a(href="/") Index 
                a(href="/find") Buscador 
                a(href="/session") Iniciar sesion


        div(id="cuerpo")
            div(id="sesion")
                input(type="text", name="Username", placeholder="Username")
                input(type="password", name="password", placeholder="Password")
                div(id="botones")
                    a(href="") Iniciar 
                    a(href="/new_user") Nuevo usuario
            


        div(id="footer")
            p Aqui va el footer final de la pagina