extends ../layout

block content
    h1 Register
    if error
        p.error= error
    form(action="/register", method="post")
        label(for="email") Email
        input#email(type="email", name="email")
        label(for="password") Contraseña
        input#password(type="password", name="password")
        label(for="passwordRepeat") Repetir contraseña
        input#passwordRepeat(type="password", name="passwordRepeat")
        button(type="submit") Register
