extends ../layout

block content 
    form(action="/poem", method="post") 

        label(for="title") Nombre: 
        input(id="title" type="text" name="title") 

        <br><br>

        label(for="year_release") Año de creacion: 
        input#year_release(type="text", name="year_release")  

        <br><br>

        label(for='author_id') Autor: 
        select#author_id(name="author_id") 
            option(value="") Seleccione autor
            option(value="newAuthor") Nuevo autor

            each author in authors 
                option(value=author.author_id)= author.name

        <br><br>
        
        button(type="submit") Crear

